@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* ESTILO INICIO */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: #00164F;
    scroll-behavior: smooth;
}
html{
scroll-behavior: smooth;
}

header,
nav ul {
    padding: 16px;
}

nav ul li {
    margin: 1.5vw;
}

/* CSS DA NAVBAR RESPONSIVA */
/* Este é o css referente ao menu responsivo */


header a {
    color: #ffffff;
    text-decoration: none;
    font-size: large;
}

header img {
    height: 110%;
    width: 5%;
    margin-left: 3vw;
}

/* Quando passar por cima muda um pouco de cor */
header a:hover {
    color: #FFB800;
    transition: all 0.2s;
}

#headerResponsivo {
    background-color: #00164F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.205);
    width: 100%;
    height: 100px;
    color: #FFFFFF;
    /* box-sizing Soma o height com o padding */
    box-sizing: border-box;
    position: fixed;
    font-weight: 600;
    z-index: 100;
}


#menuResponsivo {
    display: flex;
    list-style: none;

}

#menuResponsivo a {
    display: block;
}

.login,
.cadastro {
    background-color: #FFB800;
    color: #00164F;
    padding: 5px 10px;
    border-radius: 10px;

}

.login:hover,
.cadastro:hover {
    background-color: #c99616;
    color: #00164F;

}

#btn-mobile {
    display: none;
}

/*  o media query faz com que aquilo só aconteça quando a tela estiver com um determinado tamanho*/


@media (max-width: 600px) {
    #menuResponsivo {
        display: block;
        position: absolute;
        width: 100%;
        height: 0px;
        top: 70px;
        right: 0px;
        background-color: #01206d;
        transition: .6s;
        /* faz com que ele fique acima de todos os elementos do site */
        z-index: 1000;
        /* Ele fica escondido */
        visibility: hidden;
        overflow-y: hidden;
    }

    #navResponsivo.active #menuResponsivo {
        display: block;
        /* calc ele vai tirar os 70px do 100vh para não adicionar espaço a mais do que o necessário */
        height: calc(100vh - 70px);

        /* Ele reaparece */
        visibility: visible;
        overflow-y: auto;
    }

    #menuResponsivo a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    #btn-mobile {
        color: #FFB800;
        font-size: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: block;
        border: none;
        background: none;
        cursor: pointer;
        padding: .5rem 1rem;
        font-size: 1rem;
        gap: .5rem;

    }

    #hamburger {
        border-top: 10px solid;
        width: 20px;
    }

    #hamburger::after #hamburger::before {
        content: '';
        display: block;
        margin-top: 5px;
        width: 20px;
        height: 2px;
        background-color: currentColor;
    }

    #navResponsivo.active #hamburger {
        background: #FFB800;
        border-top-color: transparent;
    }


}

.logonav {
    width: 88px;
    margin-left: 15px;
}

.logonav img {
    width: 100%;
    display: flex;
    object-fit: cover;
    position: relative;
    right: 50px;
}

.inicio-conteudo {
    width: 100%;
    height: 120vh;
}

.posicionamento-inicio {
    color: #FFFFFF;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: -1;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

.TextoInicial {
    width: 500px;
    font-size: 25px;
}

.TextoInicial h1 {
    font-size: 60px;
}

St {
    color: #FFB800;
}

.waves {
    width: 100%;
    height: 300px;
    margin-bottom: -1vh;
    margin-top: 112vh;
    position: absolute;
}

.background {
    background-color: #ffffff;
    width: 100%;
}

/* ESTILO SOBRE NÓS */

.Sobre .container {
    width: 80%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.Sobre .container .texto {
    width: 40%;
    text-align: center;
    color: #424242;
}

.texto h1 {
    font-size: 35px;
}

.texto p {
    text-align: justify;
    font-size: 20px;
}

.imagem img {
    animation: bouge 2s infinite alternate-reverse;
}

@keyframes bouge {
    from {
        transform: translateY(1px);
    }

    to {
        transform: translateY(30px);
    }
}

/* ESTILO VALORES */

.Valores {
    height: 98vh;
}

.texto_valores {
    flex-direction: column;
    display: flex;
    padding: 60px;
}

.texto_valores h1 {
    display: flex;
    justify-content: center;
    margin-bottom: -3px;
}

.icon-valores {
    width: 53%;
    font-size: 20px;
    display: flex;
    align-items: center;
    border-radius: 5rem;
    background-color: #00164fdd;
    color: #ffffff;
    margin-top: 16px;
    transition: ease-out 0.4s;
}

.icon-valores p {
    padding: 16px;
}

.icon-valores:hover {
    background-color: #c99616c1;
    color: #000;
    transition: ease-in 0.4s;
}

.icon-valores:hover .imagem-valor {
    background-color: #00164fbe;
    transition: ease-in 0.4s;
}

.icon-valores:hover .imagem-valor img {
    filter: invert(100%);
    transition: ease-in 0.4s;
}

.imagem-valor {
    background-color: #ffffff8b;
    height: 8rem;
    width: 18rem;
    border-radius: 30rem;
    transition: ease-out 0.4s;
}

.imagem-valor img {
    display: flex;
    object-fit: fill;

}

/* ESTILO FUNCIONAMENTO */

.funcionamento {
    height: 100vh;

}

.funcionamento h1 {
    margin-top: 15vh;
    color: #00164F;
    text-align: center;
}

.cards {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5vw;
    padding: 2%;
}

.cards p {
    line-height: 1.5em;
    margin-top: 4rem;
    text-align: center;
}

.cards .sensor1 {
    border: 2px solid #00164F;
    border-radius: 10px;
    padding: 20px;
    width: 380px;
    height: 550px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.274);
    transition: ease-out 0.8s;
}

.cards .sensor2 {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    width: 380px;
    height: 550px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.274);
    transition: ease-out 0.8s;
}

.cards .combinação {
    border: 2px solid #00164F;
    border-radius: 10px;
    padding: 20px;
    width: 380px;
    height: 550px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.274);
    transition: ease-out 0.8s;
}

.imagem-card {
    width: 20rem;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 40px;
    margin-top: 20px;
}

.sensor1:hover,
.sensor2:hover,
.combinação:hover {
    background-color: #00164fd6;
    color: #ffffff;
    border-color: #000;
    transition: ease-in 0.8s;
    transform: translateX(80px);
    transform: translateY(-40px);
}

.cards .sensor2 img,
.combinação img,
.sensor1 img {
    display: flex;
    object-fit: cover;
}

.cards .sensor1 span,
.sensor2 span,
.combinação span {
    color: #FFB800;
}

/* ESTILIZAÇÃO DO CONHEÇA A EQUIPE */

.Equipe {
    height: 115vh;
}

.invert-waves {
    width: 100%;
    transform: scaleY(-1);
    position: relative;
    bottom: 15px;
}

.pai {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card-client1,
.card-client2,
.card-client3,
.card-client4 {
    background-color: #ffffff9f;
    border-radius: 15px;
    width: 270px;
    height: 19rem;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: ease-in-out 0.4s;
}

.card-client1:hover,
.card-client2:hover,
.card-client3:hover,
.card-client4:hover {
    transform: scale(1.1);
    background-color: #ffffff;
    color: #FFB800;
}

.user-picture img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.name-client {
    font-weight: bold;
    margin-top: 10px;
}

.cargo {
    display: block;
    margin-top: 5px;
    color: #252525;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    margin: 0 4px;
    text-decoration: none;
    display: inline-block;
}

.tooltip-social {
    display: none;
}

.team-text {
    margin-top: 2rem;
}

.safeTeam {
    text-align: center;
    color: #ffffff;
    position: relative;
    bottom: 8rem;
    font-size: 60px;
}



/* ESTILIZACAO FALE CONOSCO */

.contato_voltar {
    margin: 1.5%;
}

.contato_voltar a {
    background-color: #FFB800;
    color: #00164F;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;

}

.contato_voltar a:hover {
    background-color: #c99616;
    color: #00164F;

}

.faleConosco .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -80px;
}

.faleConosco .container span {
    color: white;
    width: 80vh;
    margin-top: 0;
    font-size: 22px;
    text-align: center;
}

.faleConosco .container div {
    padding: 8px;
}

.faleConosco .container h1 {
    color: #FFB800;
    font-size: 40px;
    font-weight: bold;

}

.faleConosco .container form p {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.faleConosco .container input {
    font-size: large;
    width: 70vh;
    height: 6vh;
    border-radius: 10px;
    background-color: #cfcdcd;
    opacity: 0.5;
    color: black;
}

.faleConosco #input_mensagemFaleConosco {
    display: flex;
    width: 70vh;
    height: 20vh;
    border-radius: 10px;
    background-color: #cfcdcd;
    opacity: 0.5;
    font-size: large;
    color: black;

}

.faleConosco .container form {
    text-align: center;

}

.faleConosco .container button {

    background-color: #FFB800;
    color: #00164F;
    font-weight: 900;
    font-size: larger;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;


}


.a {
    text-decoration: none;
}

/* ESTILIZAÇÃO FOOTER */
.footer {
    display: flex;
    justify-content: space-around;
    color: #ffff;
    line-height: 1.5em;
    box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.205);

}


.footer a {
    text-decoration: none;
    color: #ffff;

}

.footer ul {
    list-style: none;
}

.footer svg {
    height: 30px;

}

.footer h3 {
    text-align: center;
}

.footer .local p {
    text-align: center;
}

.rights {
    text-align: center;
    font-weight: bold;
    color: #3d3d3d;


}

/* ESTILIZACAO LOGIN */

.login-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-body .voltar a {
    position: relative;
    bottom: 5rem;
}

.form-login {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 510px;
    height: 550px;
    text-align: center;
    border-radius: 40px;
    padding: 10px;
    position: relative;
    right: 200px;
}

.form-login h1 {
    color: #00164F;
    /* font-size: 35px; */
}

.form-login h3 {
    font-size: larger;
    font-weight: bold;
    color: #636060;
    margin: 3vh;
}

.form-login p {
    text-align: left;
    font-size: medium;
    color: #8d8a8a;
}

.form-login input {
    border: none;
    outline: none;
    border-bottom: 1px solid #252525;
    padding: 5px;
    width: 100%;
    font-size: large;
}


.form-login button {
    background-color: #FFB800;
    border-radius: 50px;
    padding: 8px 45px;
    border: none;
    font-size: 30px;
    margin-top: 3vh;
    font-weight: bolder;
    color: #00164fc8;
    cursor: pointer;
}

.form-login button:hover {
    color: #00164f;
    background-color: #e3a200;
    transition: all 0.5s;
}

.login-body .img {
    position: relative;
    right: 15vh;

}

.form-login #erro_email {
    font-size: 15px;
    color: #ff0000;
}

.form-login #erro_senha {
    font-size: 15px;
    color: #ff0000;

}

.mensagem_login {
    background-color: #e3a300e7;
    height: 70px;
    width: 28.5rem;
    position: relative;
    top: 2rem;
    /* bottom: 5rem; */
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ESTILIZACAO CADASTRO */
.cadastre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /* margin-bottom: 5vh; */
}

.formcadastre {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 580px;
    height: 580px;
    text-align: center;
    border-radius: 40px;
    padding: 10px;
}

.formcadastre h1 {
    color: #00164f;
    margin-bottom: -10px;
}

.formcadastre h3 {
    font-size: larger;
    font-weight: bold;
    color: #636060;
    margin-bottom: 25px;
}

.formcadastre p {
    text-align: left;
    font-size: medium;
    color: #8d8a8a;
    font-weight: bold;
    margin-left: 50px;
}


.formcadastre input {
    border: none;
    outline: none;
    border-bottom: 1px solid #252525;
    padding: 5px;
    width: 80%;
    font-size: large;
}

.formcadastre button {
    background-color: #FFB800;
    border-radius: 50px;
    padding: 10px 50px;
    border: none;
    font-size: 30px;
    margin-top: 3.5vh;
    font-weight: bolder;
    color: #00164fc8;
    cursor: pointer;
}

.formcadastre button:hover {
    color: #00164f;
    background-color: #e3a200;
    transition: all 0.5s;
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

#div_erros_login {
    display: none
}

.voltar {
    font-size: 90px;
    position: relative;
    bottom: 20rem;
    right: 5rem;
}

.voltar a {
    color: #ffff;
    text-decoration: none;
}

.voltar a:hover {
    color: #c99616;
    transition: all 0.5s;
}

#corpo {
    width: 70vh;
    height: 11vh;
    border-radius: 10px;
    background-color: #cfcdcd;
    opacity: 0.5;
    font-size: 1.3rem;
}